.title-text-center .p-panel-titlebar {
  text-align: center;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-message {
  margin: 2em;
}

.modal-controls-container {
  margin: 2em;
}

.form-container {
  min-width: 30em;
}

body .form-message-container {
  padding: 1.3em;
  font-size: 1.2em;
  font-family: 'Verdana';
}

body .form-message-container .close-button-container {
  text-align: right;
}

body .form-message-container.error .close-button {
  background-color: #f8b7bd;
  border-color: #f8b7bd;
}

body .form-message-container.error .close-button:enabled:hover {
  background-color: #f8b7bd;
  border-color: #f8b7bd;
}

body .form-message-container.info .close-button {
  background-color: #7fbcec;
  border-color: #7fbcec;
}

body .form-message-container.warning .close-button {
  background-color: #ffe399;
  border-color: #ffe399;
}

body .form-message-container.error {
  color: black;
  background-color: #f8b7bd;
  border-radius: 1em;
}

body .form-message-container.info {
  color: black;
  background-color: #7fbcec;
  border-radius: 1em;
}

body .form-message-container.warning {
  color: black;
  background-color: #ffe399;
  border-radius: 1em;
}
