.ql-font span[data-value="arial"]::before, .ql-font span[data-label="Arial"]::before {
  font-family: "Arial";
}

.ql-font span[data-value="arial-black"]::before, .ql-font span[data-label="Arial Black"]::before {
  font-family: "Arial Black";
}

.ql-font span[data-value="helvetica"]::before, .ql-font span[data-label="Helvetica"]::before {
  font-family: "Helvetica";
}

.ql-font span[data-value="sans"]::before, .ql-font span[data-label="Sans"]::before {
  font-family: "Sans";
}

.ql-font span[data-value="verdana"]::before, .ql-font span[data-label="Verdana"]::before {
  font-family: "Verdana";
}



.ql-font span[data-value="courier"]::before, .ql-font span[data-label="Courier"]::before {
  font-family: "Courier";
}

.ql-font span[data-value="courier-new"]::before, .ql-font span[data-label="Courier New"]::before {
  font-family: "Courier New";
}

.ql-font span[data-value="monospace"]::before, .ql-font span[data-label="Monospace"]::before {
  font-family: "Monospace";
}

.ql-font span[data-value="gadget"]::before, .ql-font span[data-label="Gadget"]::before {
  font-family: "Gadget";
}


.ql-font span[data-value="comic-sans"]::before, .ql-font span[data-label="Comic Sans MS"]::before {
  font-family: "Comic Sans MS";
}


.ql-font span[data-value="palatino-linotype"]::before, .ql-font span[data-label="Palatino Linotype"]::before {
  font-family: "Palatino Linotype";
}


.ql-font span[data-value="georgia"]::before, .ql-font span[data-label="Georgia"]::before {
  font-family: "Georgia";
}

.ql-font span[data-value="times-new-roman"]::before, .ql-font span[data-label="Times New Roman"]::before {
  font-family: "Times New Roman";
}

.ql-font span[data-value="serif"]::before, .ql-font span[data-label="Serif"]::before {
  font-family: "Serif";
}


.ql-font span[data-value="impact"]::before, .ql-font span[data-label="Impact"]::before {
  font-family: "Impact";
}

.ql-font span[data-value="lucida-console"]::before, .ql-font span[data-label="Lucida Console"]::before {
  font-family: "Lucida Console";
}

.ql-font span[data-value="lucida-sans-unicode"]::before, .ql-font span[data-label="Lucida Sans Unicode"]::before {
  font-family: "Lucida Sans Unicode";
}


.ql-font-arial { font-family: 'Arial'; }
.ql-font-arial-black { font-family: 'Arial Black'; }
.ql-font-helvetica { font-family: 'Helvetica'; }
.ql-font-sans-serif { font-family: 'Sans Serif'; }
.ql-font-verdana { font-family: 'Verdana'; }

.ql-font-courier { font-family: 'Courier'; }
.ql-font-courier-new { font-family: 'Courier New'; }
.ql-font-monospace { font-family: 'Monospace'; }
.ql-font-gadget { font-family: 'Gadget'; }

.ql-font-comic-sans { font-family: 'Comic Sans MS'; }


.ql-font-georgia { font-family: 'Georgia'; }
.ql-font-times-new-roman { font-family: 'Times New Roman'; }

.ql-font-impact { font-family: 'Impact'; }
.ql-font-palatino-linotype { font-family: 'Palatino Linotype'; }

.ql-font-lucida-console { font-family: 'Lucida Console'; }
.ql-font-lucida-sans-unicode { font-family: 'Lucida Sans Unicode'; }


body .no-ui-editor .p-editor-toolbar.ql-toolbar {
  border: none;
}

body .no-ui-editor .p-editor-content.ql-container {
  border: none;
}

body .ql-snow .ql-picker.ql-font {
  width: 170px;
}