body .p-panel .p-panel-titlebar {
  background-color: #002b6f;
  color: white;
}

body .p-button {
  background-color: #002b6f;
}

.form-error-message {
  color: #ff0000;
  background-color: #ffb2b2;
  font-weight: bold;
  padding: 1em;
  border-radius: 1em;
  text-align: center;
}

body .screen-title {
  font-size: 2em;
  font-weight: bold;
}

body .edit-seminar-container {
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid black;
  margin-bottom: 1em;
}

body .seminar-basic-info-container {
  background-color: grey;
  padding: 0;
}

body .seminar-title {
  color: white;
  background-color: grey;
  padding: 0.3em;
  text-align: center;
  font-family: 'Verdana';
  font-size: 1em;
}

body .edit-seminar-info {
  padding: 1em;
}
